.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: #c9eeff;
    background: linear-gradient(90deg, rgba(201, 238, 255, 1) 0%, rgba(255, 250, 212, 1) 100%);
}