.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1A1615;
    font-family: OpenRunde;
    font-weight: 700;
    img {
        margin-right: 3px;
    }
}

.homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: OpenRunde;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    li {
        margin-right: 30px;
    }
}