.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1A1615;
    font-family: OpenRunde;
    font-weight: 700;
    font-size: 20px;
    img {
        margin-right: 3px;
    }
}

.homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: OpenRunde;
}

.navbar-left, .navbar-right{
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    font-size: 18px;
    box-sizing: border-box;
    li {
        margin-right: 30px;
    }
}

.nav-link {
    color: #1A1615;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: transparent;
    transition: background-color 0.25s ease;
}

.nav-link:hover, .nav-link:focus {
    color: #1A1615;
    border: 1px solid #9c9c9c;
    border-radius: 20px;
    background-color: #cccccc;
}

.navbar-right{
    padding: 10px;
}
